.fy-clear {
  position: absolute;
  right: -6px;
  top: -6px;
  color: rgba(255, 255, 255, 0.73);
}
.material-icons {
  font-size: 14px !important;
}
.fy-card {
  margin: 12px 0; padding: 8px 24px; color: #fff;
}
